@page "/"

<PageTitle>Intro</PageTitle>

<section id="home" class="intro-section">
	<div class="container">
		<div class="row align-items-center text-white">
			<div class="col-md-6 intros">
				<h1 class="display-2">
					<span class="display-2--intro">Hey! I'm Matthew</span>
					<span class="display-2--description lh-base">
						this is a multi-purpose responsive layout created with bootstrap v5.
						(here your can place your description text)
					</span>
				</h1>
				<button type="button" class="rounded-pill btn-rounded">
					Get in Touch
					<span>
						<i class="fas fa-arrow-right"></i>
					</span>
				</button>
			</div>
			<div class="col-md-6 intros text-end">
				<div class="video-box">
					<img class="img-fluid" src="images/arts/intro-section-illustration.png" alt="video illustration"/>
					<a href="#" class="glightbox position-absolute top-50 start-50 translate-middle">
						<span>
							<i class="fas fa-play-circle"></i>
						</span>
						<span class="border-animation border-animation--border-1"></span>
						<span class="border-animation border-animation--border-2"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
