@page "/Testimonials"

<PageTitle>Testimonials</PageTitle>

<section id="testimonials" class="testimonials">
	<div class="container">
		<div class="row text-center">
			<h1 class="display-3 fw-bold">Testimonials</h1>
			<hr style="width: 100px; height: 3px; " class="mx-auto">
			<p class="lead pt-1">what our clients are saying</p>
		</div>

		<!-- START THE CAROUSEL CONTENT  -->
		<div class="row align-items-center">
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<!-- CAROUSEL ITEM 1 -->
					<div class="carousel-item active">
						<!-- testimonials card  -->
						<div class="testimonials__card">
							<p class="lh-lg">
								<i class="fas fa-quote-left"></i>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque repudiandae. Distinctio.
								<i class="fas fa-quote-right"></i>
								<div class="ratings p-1">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</p>
						</div>
						<!-- client picture  -->
						<div class="testimonials__picture">
							<img src="images/testimonials/client-1.jpg" alt="client-1 picture" class="rounded-circle img-fluid">
						</div>
						<!-- client name & role  -->
						<div class="testimonials__name">
							<h3>Patrick Muriungi</h3>
							<p class="fw-light">CEO & founder</p>
						</div>
					</div>
					<!-- CAROUSEL ITEM 2 -->
					<div class="carousel-item">
						<!-- testimonials card  -->
						<div class="testimonials__card">
							<p class="lh-lg">
								<i class="fas fa-quote-left"></i>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque repudiandae. Distinctio.
								<i class="fas fa-quote-right"></i>
								<div class="ratings p-1">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</p>
						</div>
						<!-- client picture  -->
						<div class="testimonials__picture">
							<img src="images/testimonials/client-2.jpg" alt="client-2 picture" class="rounded-circle img-fluid">
						</div>
						<!-- client name & role  -->
						<div class="testimonials__name">
							<h3>Joy Marete</h3>
							<p class="fw-light">Finance Manager</p>
						</div>
					</div>
					<!-- CAROUSEL ITEM 3 -->
					<div class="carousel-item">
						<!-- testimonials card  -->
						<div class="testimonials__card">
							<p class="lh-lg">
								<i class="fas fa-quote-left"></i>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque repudiandae. Distinctio.
								<i class="fas fa-quote-right"></i>
								<div class="ratings p-1">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</p>
						</div>
						<!-- client picture  -->
						<div class="testimonials__picture">
							<img src="images/testimonials/client-3.jpg" alt="client-3 picture" class="rounded-circle img-fluid">
						</div>
						<!-- client name & role  -->
						<div class="testimonials__name">
							<h3>ClaireBelle Zawadi</h3>
							<p class="fw-light">Global brand manager</p>
						</div>
					</div>
					<!-- CAROUSEL ITEM 4 -->
					<div class="carousel-item">
						<!-- testimonials card  -->
						<div class="testimonials__card">
							<p class="lh-lg">
								<i class="fas fa-quote-left"></i>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque repudiandae. Distinctio.
								<i class="fas fa-quote-right"></i>
								<div class="ratings p-1">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
							</p>
						</div>
						<!-- client picture  -->
						<div class="testimonials__picture">
							<img src="images/testimonials/client-4.jpg" alt="client-4 picture" class="rounded-circle img-fluid">
						</div>
						<!-- client name & role  -->
						<div class="testimonials__name">
							<h3>Uhuru Kenyatta</h3>
							<p class="fw-light">C.E.O & Founder</p>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-outline-primary fas fa-long-arrow-alt-left" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					</button>
					<button class="btn btn-outline-primary fas fa-long-arrow-alt-right" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
